In [6]:
import numpy as np
import pandas as pd

In [7]:
hdi = pd.read_csv('HDI.csv')
hdi.head()

,Country,Human Development Index (2000),Human Development Index (2001),Human Development Index (2000).1,Human Development Index (2002),Human Development Index (2003),Human Development Index (2004),Human Development Index (2005),Human Development Index (2006),Human Development Index (2007),...,Human Development Index (2012),Human Development Index (2013),Human Development Index (2014),Human Development Index (2015),Human Development Index (2016),Human Development Index (2017),Human Development Index (2018),Human Development Index (2019),Human Development Index (2020),Human Development Index (2021)
0,Afghanistan,0.335,0.337,0.335,0.362,0.376,0.392,0.400,0.409,0.424,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,Angola,0.375,0.386,0.375,0.403,0.420,0.433,0.447,0.459,0.475,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,Albania,0.677,0.684,0.677,0.689,0.696,0.700,0.711,0.718,0.730,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,Andorra,0.818,0.825,0.818,0.832,0.841,0.833,0.833,0.848,0.847,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,United Arab Emirates,0.796,0.800,0.796,0.804,0.814,0.818,0.822,0.827,0.831,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911

In [8]:
hdi = hdi[['Country','Human Development Index (2000)', 'Human Development Index (2001)', 'Human Development Index (2000)', 'Human Development Index (2002)', 'Human Development Index (2003)','Human Development Index (2004)', 'Human Development Index (2005)','Human Development Index (2006)', 'Human Development Index (2007)',
          'Human Development Index (2008)','Human Development Index (2009)', 'Human Development Index (2010)', 'Human Development Index (2011)', 'Human Development Index (2012)', 'Human Development Index (2013)', 'Human Development Index (2014)', 'Human Development Index (2015)', 'Human Development Index (2016)', 'Human Development Index (2017)', 'Human Development Index (2018)', 'Human Development Index (2019)', 'Human Development Index (2020)', 'Human Development Index (2021)']]

In [9]:
hdi.head()

,Country,Human Development Index (2000),Human Development Index (2001),Human Development Index (2000),Human Development Index (2002),Human Development Index (2003),Human Development Index (2004),Human Development Index (2005),Human Development Index (2006),Human Development Index (2007),...,Human Development Index (2012),Human Development Index (2013),Human Development Index (2014),Human Development Index (2015),Human Development Index (2016),Human Development Index (2017),Human Development Index (2018),Human Development Index (2019),Human Development Index (2020),Human Development Index (2021)
0,Afghanistan,0.335,0.337,0.335,0.362,0.376,0.392,0.400,0.409,0.424,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,Angola,0.375,0.386,0.375,0.403,0.420,0.433,0.447,0.459,0.475,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,Albania,0.677,0.684,0.677,0.689,0.696,0.700,0.711,0.718,0.730,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,Andorra,0.818,0.825,0.818,0.832,0.841,0.833,0.833,0.848,0.847,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,United Arab Emirates,0.796,0.800,0.796,0.804,0.814,0.818,0.822,0.827,0.831,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911

In [10]:
hdi.fillna(0)
hdi.to_csv('hdi.csv',index=False)